<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list-header>
    <ion-label>Festivals</ion-label>
    <ion-button (click)="presentComposeFestivalModal()">Create</ion-button>
  </ion-list-header>
  <ion-list *ngIf="festivalsRequestComplete">
    <ion-item *ngFor="let festival of festivals" [routerLink]="['/admin', 'settings', 'festival', festival.id]" button>
      <ion-label>
        <h2>{{ festival.name }}</h2>
        <p><b>Submissions:</b> {{ festival.startDateTime | date:'short'}} to {{ festival.endDateTime | date:'short'}}</p>
        <!-- <ion-text *ngIf="hold.active" color="danger">Active</ion-text> -->
        <!-- <ion-text *ngIf="!hold.active" color="medium">Inactive</ion-text> -->
      </ion-label>
    </ion-item>
    <ion-item *ngIf="!festivals.length">
      <h1>No festivals have been created yet.</h1>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!festivalsRequestComplete">
    <ion-item>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </ion-list>

  <div class="ion-padding">

    <h1>Access Token:</h1>
    <pre>{{ accessToken }}</pre>
    <ion-button (click)="copyAccessToken()">Copy Access Token</ion-button>
    <ion-accordion-group>
      <ion-accordion value="accessToken">
        <ion-item slot="header">
          <ion-label>Decoded Access Token</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <pre>
              {{ decodedAccessToken | json }}
            </pre> 
          </ion-item>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="idToken">
        <ion-item slot="header">
          <ion-label>Decoded Id Token</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <pre>
              {{ decodedIdToken | json }}
            </pre>
          </ion-item>
        </ion-list>
        
      </ion-accordion>
    </ion-accordion-group>
  </div>


</ion-content>
