<div class="ion-padding">
  <p>{{ festival.guidelines }}</p>
  <ion-list-header>
    <h3>Create a submission</h3>
  </ion-list-header>
  <ion-card>

    <ion-list>
      <ion-item routerLink="/submission" [queryParams]="{ fort: 'music'}" button detail>
        <ion-icon slot="start" color="secondary" name="musical-notes-outline"></ion-icon>
        <ion-label>
          <h1>Music</h1>
        </ion-label>
      </ion-item>
      <ion-item routerLink="/submission" [queryParams]="{ fort: 'comedy'}" button detail>
        <ion-icon slot="start" color="secondary" name="bandage-outline"></ion-icon>
        <ion-label>
          <h1>Comedy</h1>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</div>