<div class="ion-padding">
  <p>{{ festival.guidelines }}</p>
  <ion-list-header>
    <h3>Create a submission</h3>
  </ion-list-header>
  <ion-card>

    <ion-list>
      <ion-item *ngFor="let fort of forts" routerLink="/submission" [queryParams]="{ fort: fort.name }" button detail>
        <!-- <ion-icon slot="start" color="secondary" name="musical-notes-outline"></ion-icon> -->
        <ion-label>
          <h1>{{ fort.name }}</h1>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</div>