<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Submissions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Submissions</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="outline">
          Filter Submissions
          <ion-icon slot="end" name="caret-down-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let submission of submissions" routerLink="/admin/submission-detail" button detail>
      <ion-thumbnail slot="start">
        <ion-img [src]="submission.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ submission.name }}</h2>
        <p>{{ submission.category }}</p>
      </ion-label>
      <ion-badge slot="end">{{ submission.city }}, {{ submission.state }}</ion-badge>
    </ion-item>
  </ion-list>


</ion-content>
