<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [hidden]="!user.authenticated">
      <ion-content style="--background: var(--ion-color-secondary)">
        <ion-list style="background: var(--ion-color-secondary)">
          <ion-list-header>
            <img src="/assets/logo-circle.svg" width="60">
            <ion-text color="light" style="margin-bottom: 10px; margin-left: 10px; font-weight: 900; font-size: 1.5em;">
              Submissions
            </ion-text>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label>
              <ion-text color="light">{{ user.claims?.email }}</ion-text>
            </ion-label>
            <ion-button (click)="logout()">Logout</ion-button>
          </ion-item>

        </ion-list>

        <app-admin-menu *ngIf="user.authenticated && (user.claims.isVoter || user.claims.isAdmin)" [user]="user"></app-admin-menu>
        <p>&nbsp;</p>
        <app-my-submissions *ngIf="user.authenticated" [user]="user"></app-my-submissions>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
