<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [hidden]="!user.authenticated">
      <ion-content>
        <ion-list>
          <ion-list-header>
              <img src="/assets/logo-circle.svg">
            <span style="margin-bottom: 10px; margin-left: 10px; font-weight: 900; font-size: 1.5em;">
              Submissions
            </span>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label>
              <ion-text color="medium">{{ user.claims?.email }}</ion-text>
            </ion-label>
            <ion-button (click)="logout()">Logout</ion-button>
          </ion-item>

        </ion-list>

        <app-admin-menu *ngIf="user.authenticated && (user.claims.isVoter || user.claims.isAdmin)" [user]="user"></app-admin-menu>
        
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
