<ion-header>
  <ion-toolbar color="light">
    <ion-title>Festival</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list [formGroup]="form">
    <ion-item button="true" id="open-startdate-input">
      <ion-label [color]="validateControl('startDateTime', 'required') ? 'danger' : 'primary'">Submission Start Date</ion-label>
      <ion-text slot="end">{{ startDateTime | date: 'short'}}</ion-text>
      <ion-popover trigger="open-startdate-input" show-backdrop="true">
        <ng-template>
          <ion-datetime
            formControlName="startDateTime"
            showDefaultButtons="true"
            (ionChange)="startDateTimeChange($event.target.value)"
            [value]="startDateTime" presentation="time-date"
            locale="en-US"
            minuteValues="0,15,30,45"
            display-format="DD.MM.YYYY HH:mm">
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-text *ngIf="validateControl('startDateTime', 'required')" color="danger">
      A submission start time is required.
    </ion-text>

    <ion-item button="true" id="open-enddate-input">
      <ion-label [color]="validateControl('endDateTime', 'required') ? 'danger' : 'primary'">Submission End Date</ion-label>
      <ion-text slot="end">{{ endDateTime | date: 'short' }}</ion-text>
      <ion-popover trigger="open-enddate-input" show-backdrop="true">
        <ng-template>
          <ion-datetime
            formControlName="endDateTime"
            showDefaultButtons="true"
            (ionChange)="startDateTimeChange($event.target.value)"
            [value]="endDateTime" presentation="time-date"
            locale="en-US"
            minuteValues="0,15,30,45"
            display-format="DD.MM.YYYY HH:mm">
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-text *ngIf="validateControl('startDateTime', 'required')" color="danger">
      A submission end time is required.
    </ion-text>
    <ion-item>
      <ion-label [color]="validateControl('name', 'required') ? 'danger' : 'primary'" position="stacked">Festival Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-text *ngIf="validateControl('name', 'required')" color="danger">
      A festival name is required.
    </ion-text>
    <ion-item>
      <ion-label [color]="validateControl('guidelines', 'required') ? 'danger' : 'primary'" color="primary"
        position="stacked">Guidelines</ion-label>
      <ion-textarea formControlName="guidelines" rows="5"></ion-textarea>
    </ion-item>
    <ion-text *ngIf="validateControl('guidelines', 'required')" color="danger">
      Festival guidelines are required.
    </ion-text>
    
  </ion-list>

</ion-content>

<ion-footer>
  <div class="ion-padding">
    <ion-button (click)="submitForm()" expand="block" color="primary">Save</ion-button>
  </div>
</ion-footer>