h1 {
    font-weight: 900;
    font-size: 2em;
}


.background-texture {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .background-texture-image {
    min-width: 110%;
    min-height: 100vh;
    margin: -5%;
    background: none;
  }

  .background-texture-image img {
    display: block;
    // max-width: none;
    // max-height: none;
    min-width: 100%;
    min-height: 100vh;
    opacity: 0.3;
    -ms-filter: blur(20px);
    -webkit-filter: blur(20px);
    filter: blur(20px);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }