<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user.authenticated" class="ion-padding">
    <h1>Access Token:</h1>
    <pre>{{ accessToken }}</pre>
    <ion-button (click)="copyAccessToken()">Copy Access Token</ion-button>
    <ion-accordion-group>
      <ion-accordion value="accessToken">
        <ion-item slot="header">
          <ion-label>Decoded Access Token</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <pre>
              {{ decodedAccessToken | json }}
            </pre> 
          </ion-item>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="idToken">
        <ion-item slot="header">
          <ion-label>Decoded Id Token</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <pre>
              {{ decodedIdToken | json }}
            </pre>
          </ion-item>
        </ion-list>
        
      </ion-accordion>
    </ion-accordion-group>

    <ion-button (click)="getHealthCheck()">
      Get Health Check
    </ion-button>
    <h2>HealthCheck</h2>
    <pre>
      {{ healthCheck | json }}
    </pre>
  </div>
  <div *ngIf="!user.authenticated" class="ion-padding">
    <ion-button (click)="login()">Sign In</ion-button>
    <ion-button (click)="signup()">Sign Up</ion-button>
  </div>
</ion-content>
