<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ festival.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ festival.name }}</ion-title>
    </ion-toolbar>
  </ion-header>


  <app-welcome-authenticated *ngIf="user.authenticated" [festival]="festival"></app-welcome-authenticated>
  <app-welcome-unauthenticated *ngIf="!user.authenticated" [festival]="festival"></app-welcome-unauthenticated>

  <div class="ion-padding">

    <h1>Access Token:</h1>
    <pre>{{ accessToken }}</pre>
    <ion-button (click)="copyAccessToken()">Copy Access Token</ion-button>
    <ion-accordion-group>
      <ion-accordion value="accessToken">
        <ion-item slot="header">
          <ion-label>Decoded Access Token</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <pre>
              {{ decodedAccessToken | json }}
            </pre> 
          </ion-item>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="idToken">
        <ion-item slot="header">
          <ion-label>Decoded Id Token</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <pre>
              {{ decodedIdToken | json }}
            </pre>
          </ion-item>
        </ion-list>
        
      </ion-accordion>
    </ion-accordion-group>

    <ion-button (click)="getHealthCheck()">
      Get Health Check
    </ion-button>
    <h2>HealthCheck</h2>
    <pre>
      {{ healthCheck | json }}
    </pre>
  </div>

</ion-content>
