<ion-searchbar></ion-searchbar>

<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
  <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
    <ion-label>{{ p.title }}</ion-label>
  </ion-item>
</ion-menu-toggle>

<ion-list id="labels-list">
  <ion-list-header>
    <ion-label>Labels</ion-label>
    <ion-button fill="outline">Add</ion-button>
  </ion-list-header>

  <ion-item *ngFor="let label of labels" lines="none">
    <ion-icon slot="start" name="bookmark-outline"></ion-icon>
    <ion-label>{{ label }}</ion-label>
  </ion-item>
</ion-list>