<ion-searchbar></ion-searchbar>

<ion-menu-toggle auto-hide="false">
  <ion-item routerDirection="root" routerLink="/admin/submissions" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon slot="start" name="folder-outline"></ion-icon>
    <ion-label>Submissions</ion-label>
  </ion-item>
  <!-- <ion-item routerDirection="root" routerLink="/admin/my-votes" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon slot="start" name="ticket-outline"></ion-icon>
    <ion-label>My Votes</ion-label>
  </ion-item> -->
  <!-- <ion-item routerDirection="root" routerLink="/admin/ignored" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon slot="start" name="skull-outline"></ion-icon>
    <ion-label>Ignored</ion-label>
  </ion-item>
  <ion-item *ngIf="user.claims.isAdmin" routerDirection="root" routerLink="/admin/archived" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon slot="start" name="archive-outline"></ion-icon>
    <ion-label>Archived</ion-label>
  </ion-item> -->
  <ion-item *ngIf="user.claims.isAdmin" routerDirection="root" routerLink="/admin/vote-tally" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon slot="start" name="ticket-outline"></ion-icon>
    <ion-label>Vote Tally</ion-label>
  </ion-item>
  <ion-item *ngIf="user.claims.isAdmin" routerDirection="root" routerLink="/admin/users" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon slot="start" name="people-outline"></ion-icon>
    <ion-label>Users</ion-label>
  </ion-item>
  <ion-item *ngIf="user.claims.isAdmin" routerDirection="root" routerLink="/admin/settings" lines="none" detail="false" routerLinkActive="selected">
    <ion-icon slot="start" name="settings-outline"></ion-icon>
    <ion-label>Settings</ion-label>
  </ion-item>
</ion-menu-toggle>

<ion-item lines="none">
  <ion-label color="light">
    <h1 style="font-weight: 600;">Labels</h1>
  </ion-label>
  <ion-button *ngIf="user.claims.isAdmin" (click)="presentCreateLabelAlert()" [disabled]="!labelsRequestComplete" slot="end" fill="solid">Create</ion-button>
</ion-item>
<ion-list *ngIf="labelsRequestComplete" id="labels-list">
  <ion-item *ngFor="let label of labelResponse.labels" [routerLink]="['admin', 'labeled-submissions']" [queryParams]="{label: label.id}" lines="none">
    <ion-icon slot="start" name="bookmark-outline"></ion-icon>
    <ion-label>{{ label.name }}</ion-label>
  </ion-item>
  <ion-item *ngIf="!labelResponse.labels.length">
    <ion-label>
      <h2>No labels have been created yet.</h2>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list *ngIf="!labelsRequestComplete">
  <ion-item lines="none">
    <ion-icon slot="start" name="bookmark-outline"></ion-icon>
    <ion-label>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon slot="start" name="bookmark-outline"></ion-icon>
    <ion-label>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon slot="start" name="bookmark-outline"></ion-icon>
    <ion-label>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-icon slot="start" name="bookmark-outline"></ion-icon>
    <ion-label>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ion-list>