<ion-header>
  <ion-toolbar>
    <ion-title>Success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Success</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>You successfully submitted to Treefort!</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You should receive a confirmation email. You can edit your submission at any time by accessing it from the side navigation menu on the left.</p>
      <p>If you would like to submit another artist/band, or create a submission for another fort, click on the button below.</p>
      <p>&nbsp;</p>
      <ion-button routerLink="/welcome">Create a new submission</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
