<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/submissions" text="Submissions"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="submissionRequestComplete">{{ submission.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar color="light">
      <ion-title *ngIf="submissionRequestComplete" size="large">{{ submission.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center;">
    <ion-spinner *ngIf="!submissionRequestComplete" name="crescent" style="height: 30px; width: 30px"></ion-spinner>
  </div>

  <div *ngIf="submissionRequestComplete" class="ion-padding">

    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <ion-chip *ngIf="submission.country !== 'United States'">
            <ion-icon name="map"></ion-icon>
            <ion-label>{{ submission.city }}, {{ submission.country }}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="submission.country === 'United States'">
            <ion-icon name="map"></ion-icon>
            <ion-label>{{ submission.city }}, {{ submission.state }}</ion-label>
          </ion-chip>
          <p>
            <span *ngFor="let genre of submission.genres">
              <ion-badge>{{ genre }}</ion-badge>&nbsp;
            </span> 
          </p>
             
          <h3>Statement</h3>
          <div>
            <p>
              {{ submission.statement }}
            </p>
          </div>
          <h3>Bio</h3>
          <div>
            <p>
              {{ submission.description }}
            </p>
          </div>
          
          <div *ngIf="submission.links.spotify">
            <h3>Spotify</h3>
            <iframe style="border-radius:12px" [src]="sanitize('https://open.spotify.com/embed/artist/' + getSpotifyArtistId(submission.links.spotify))" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
          </div>

          <div *ngIf="submission.links.videos.length">
            <h3>Videos</h3>
            <iframe *ngFor="let video of submission.links.videos" width="100%" height="315" [src]="sanitize('https://www.youtube.com/embed/' + getYoutubeVideoId(video))" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- <p >{{ video }}</p> -->
          </div>

          <!-- <div>
            <h3>Labels</h3>
            <ion-item>
              <ion-label>Labels</ion-label>
              <ion-select multiple="true" cancelText="Nah" okText="Okay!" [value]="labels">
                <ion-select-option value="bacon">Bacon</ion-select-option>
                <ion-select-option value="olives">Black Olives</ion-select-option>
                <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
                <ion-select-option value="peppers">Green Peppers</ion-select-option>
                <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
                <ion-select-option value="onions">Onions</ion-select-option>
                <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
                <ion-select-option value="pineapple">Pineapple</ion-select-option>
                <ion-select-option value="sausage">Sausage</ion-select-option>
                <ion-select-option value="Spinach">Spinach</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-chip *ngFor="let label of labels">
              <ion-icon name="fast-food"></ion-icon>
              <ion-label>{{ label }}</ion-label>
            </ion-chip>
          </div> -->
        </ion-col>
        <ion-col size="5">
          <ion-card>
            <ion-img [src]="submission.image"></ion-img>
            <ion-item>
              <h3>Links</h3>
            </ion-item>
            <ion-item *ngIf="submission.links.appleMusic" [href]="submission.links.appleMusic" target="_blank" button>
              <ion-icon slot="end" name="logo-apple"></ion-icon>
              <ion-label>Apple Music</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.bandcamp" [href]="submission.links.bandcamp" target="_blank" button>
              <!-- <ion-icon slot="end" name="logo-apple"></ion-icon> -->
              <ion-label>Bandcamp</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.facebook" [href]="submission.links.facebook" target="_blank" button>
              <ion-icon slot="end" name="logo-facebook"></ion-icon>
              <ion-label>Facebook</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.instagram" [href]="submission.links.instagram" target="_blank" button>
              <ion-icon slot="end" name="logo-instagram"></ion-icon>
              <ion-label>Instagram</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.soundcloud" [href]="submission.links.soundcloud" target="_blank" button>
              <ion-icon slot="end" name="logo-soundcloud"></ion-icon>
              <ion-label>Soundcloud</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.spotify" [href]="submission.links.spotify" target="_blank" button>
              <ion-icon slot="end" name="logo-spotify"></ion-icon>
              <ion-label>Spotify</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.tikTok" [href]="submission.links.tikTok" target="_blank" button>
              <ion-icon slot="end" name="logo-tikTok"></ion-icon>
              <ion-label>Tiktok</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.twitter" [href]="submission.links.twitter" target="_blank" button>
              <ion-icon slot="end" name="logo-twitter"></ion-icon>
              <ion-label>Twitter</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.website" [href]="submission.website" button>
              <ion-icon slot="end" name="link"></ion-icon>
              <ion-label>Website</ion-label>
            </ion-item>
            <!-- <ion-item>
              <h3>You Tube</h3>
            </ion-item>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/kKwPo8Ko7eE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </ion-card>
          <ion-card>
            <ion-list>
              <ion-item>
                <h3>Contact Info</h3>
              </ion-item>
              <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>
                  <h2>{{ submission.contactInfo.name }} <small>{{ submission.contactInfo.relationship }}</small></h2>
                  <p>{{ submission.contactInfo.phoneNumber }}</p>
                  <p>{{ submission.contactInfo.email }}</p>
                </ion-label>
              </ion-item>
              <ion-item *ngIf="submission.contactInfo.agentContact">
                <p>Agent</p>
                <h2>{{ submission.contactInfo.agentContact }}</h2>
              </ion-item>
              <ion-item *ngIf="submission.contactInfo.labelContact">
                <p>Label Contact</p>
                <h2>{{ submission.contactInfo.labelContact }}</h2>
              </ion-item>
              <ion-item *ngIf="submission.contactInfo.managementContact">
                <p>Management Contact</p>
                <h2>{{ submission.contactInfo.managementContact }}</h2>
              </ion-item>
              <ion-item *ngIf="submission.contactInfo.publicityContact">
                <p>Publicity Contact</p>
                <h2>{{ submission.contactInfo.publicityContact }}</h2>
              </ion-item>
            </ion-list>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-img [src]="submission.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>My Vote</h2>
      </ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option [value]="10">10</ion-select-option>
        <ion-select-option [value]="9">9</ion-select-option>
        <ion-select-option [value]="10">8</ion-select-option>
        <ion-select-option [value]="9">7</ion-select-option>
        <ion-select-option [value]="10">6</ion-select-option>
        <ion-select-option [value]="9">5</ion-select-option>
        <ion-select-option [value]="10">4</ion-select-option>
        <ion-select-option [value]="9">3</ion-select-option>
        <ion-select-option [value]="10">2</ion-select-option>
        <ion-select-option [value]="9">1</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-footer> -->
