<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/submissions" text="Submissions"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="submissionRequestComplete">{{ submission.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar>
      <ion-title *ngIf="submissionRequestComplete" size="large">{{ submission.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <div class="background-texture">
    <div class="background-texture-image">
      <img [src]="'/assets/the-french-tips.jpeg'">
    </div>
  </div> -->
  <div *ngIf="submissionRequestComplete" class="ion-padding">

    <ion-chip *ngIf="submission.country !== 'United States'">
      <ion-icon name="map"></ion-icon>
      <ion-label>{{ submission.city }}, {{ submission.country }}</ion-label>
    </ion-chip>
    <ion-chip *ngIf="submission.country === 'United States'">
      <ion-icon name="map"></ion-icon>
      <ion-label>{{ submission.city }}, {{ submission.state }}</ion-label>
    </ion-chip>
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <!-- <h3>Statement</h3>
          <div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div> -->
          <h3>Bio</h3>
          <div>
            <p>
              {{ submission.description }}
            </p>
          </div>
          <iframe *ngIf="submission.links.spotify" style="border-radius:12px" src="{{submission.links.spotify}}" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
          <h3>Contact Info</h3>
          <!-- <div>
            <h3>Labels</h3>
            <ion-item>
              <ion-label>Labels</ion-label>
              <ion-select multiple="true" cancelText="Nah" okText="Okay!" [value]="labels">
                <ion-select-option value="bacon">Bacon</ion-select-option>
                <ion-select-option value="olives">Black Olives</ion-select-option>
                <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
                <ion-select-option value="peppers">Green Peppers</ion-select-option>
                <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
                <ion-select-option value="onions">Onions</ion-select-option>
                <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
                <ion-select-option value="pineapple">Pineapple</ion-select-option>
                <ion-select-option value="sausage">Sausage</ion-select-option>
                <ion-select-option value="Spinach">Spinach</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-chip *ngFor="let label of labels">
              <ion-icon name="fast-food"></ion-icon>
              <ion-label>{{ label }}</ion-label>
            </ion-chip>
          </div> -->
        </ion-col>
        <ion-col size="5">
          <ion-card>
            <ion-img [src]="submission.image"></ion-img>
            <ion-item>
              <h3>Links</h3>
            </ion-item>
            <ion-item *ngIf="submission.links.appleMusic" [href]="submission.links.appleMusic" button>
              <ion-icon slot="end" name="logo-apple"></ion-icon>
              <ion-label>Apple Music</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.bandcamp" [href]="submission.links.bandcamp" button>
              <!-- <ion-icon slot="end" name="logo-apple"></ion-icon> -->
              <ion-label>Bandcamp</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.facebook" [href]="submission.links.facebook" button>
              <ion-icon slot="end" name="logo-facebook"></ion-icon>
              <ion-label>Facebook</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.instagram" [href]="submission.links.instagram" button>
              <ion-icon slot="end" name="logo-instagram"></ion-icon>
              <ion-label>Instagram</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.soundcloud" [href]="submission.links.soundcloud" button>
              <ion-icon slot="end" name="logo-soundcloud"></ion-icon>
              <ion-label>Soundcloud</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.spotify" [href]="submission.links.spotify" button>
              <ion-icon slot="end" name="logo-spotify"></ion-icon>
              <ion-label>Spotify</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.tikTok" [href]="submission.links.tikTok" button>
              <ion-icon slot="end" name="logo-tikTok"></ion-icon>
              <ion-label>Tiktok</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.links.twitter" [href]="submission.links.twitter" button>
              <ion-icon slot="end" name="logo-twitter"></ion-icon>
              <ion-label>Twitter</ion-label>
            </ion-item>
            <ion-item *ngIf="submission.website" [href]="submission.website" button>
              <ion-icon slot="end" name="link"></ion-icon>
              <ion-label>Website</ion-label>
            </ion-item>
            <!-- <ion-item>
              <h3>You Tube</h3>
            </ion-item>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/kKwPo8Ko7eE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <ion-img [src]="submission.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>My Vote</h2>
      </ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option [value]="10">10</ion-select-option>
        <ion-select-option [value]="9">9</ion-select-option>
        <ion-select-option [value]="10">8</ion-select-option>
        <ion-select-option [value]="9">7</ion-select-option>
        <ion-select-option [value]="10">6</ion-select-option>
        <ion-select-option [value]="9">5</ion-select-option>
        <ion-select-option [value]="10">4</ion-select-option>
        <ion-select-option [value]="9">3</ion-select-option>
        <ion-select-option [value]="10">2</ion-select-option>
        <ion-select-option [value]="9">1</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-footer> -->
