<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/settings" text="Settings"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="festival">{{ festival.name }}</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header *ngIf="festival" mode="ios" collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">{{ festival.name }}</ion-title>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



  <div *ngIf="festival">
    <ion-card>
      <ion-list-header>
        <ion-label>General</ion-label>
        <ion-button (click)="presentComposeFestivalModal(festival)">Edit</ion-button>
      </ion-list-header>
      <ion-list>
        <ion-item>
          <ion-label>
            <p>{{ festival.startDateTime | date:'short' }} - {{ festival.endDateTime | date:'short' }}</p>
            <h2>{{ festival.guidelines }}</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Danger Zone:</ion-label>
          <ion-button (click)="presentDeleteFestivalAlert()" color="danger" fill="clear">Delete Festival</ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card>

      <ion-list-header>
        <ion-label>Forts</ion-label>
        <ion-spinner *ngIf="!fortCreateComplete" name="crescent"></ion-spinner>
        <ion-button (click)="presentComposeFortAlert()">Create</ion-button>
      </ion-list-header>
      <ion-list *ngIf="fortsRequestComplete">
        <ion-item *ngFor="let fort of forts">
          <ion-label>
            <h2>{{ fort.name }}</h2>
          </ion-label>
          <ion-spinner *ngIf="fortPendingDeleteId === fort.id" name="crescent"></ion-spinner>
          <ion-button (click)="presentDeleteFortAlert(fort)" [disabled]="fortPendingDeleteId === fort.id" slot="end" fill="clear" color="danger">Delete</ion-button>
        </ion-item>
        <ion-item *ngIf="!forts.length">
          <h1>No forts have been created yet.</h1>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="!fortsRequestComplete">
        <ion-item>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
      </ion-list>

    </ion-card>
    <ion-card>

      <ion-list-header>
        <ion-label>Labels</ion-label>
        <ion-spinner *ngIf="!labelCreateComplete" name="crescent"></ion-spinner>
        <ion-button (click)="presentCreateLabelAlert()">Create</ion-button>
      </ion-list-header>
      <ion-list *ngIf="labelsRequestComplete" id="labels-list">
        <ion-item *ngFor="let label of labelResponse.labels">
          <ion-icon slot="start" name="bookmark-outline"></ion-icon>
          <ion-label>{{ label.name }}</ion-label>
          <ion-spinner *ngIf="labelPendingDeleteId === label.id" name="crescent"></ion-spinner>
          <ion-button (click)="presentDeleteLabelAlert(label)" [disabled]="labelPendingDeleteId === label.id" color="danger" fill="clear" slot="end">Delete</ion-button>
        </ion-item>
        <ion-item *ngIf="!labelResponse.labels.length">
          <ion-label>
            <h2>No labels have been created yet.</h2>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="!labelsRequestComplete">
        <ion-item>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-item>
      </ion-list>




      <!-- <pre>
        {{ festival | json }}
      </pre> -->
    </ion-card>
  </div>


</ion-content>