<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ fort | titlecase }} Submission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header mode="ios" collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">{{ fort | titlecase }} Submission</ion-title>
    </ion-toolbar>
  </ion-header>



  <div *ngIf="festival">
    <app-music-form *ngIf="fort === 'Music'" (submit)="submit($event)" [submissionPending]="submissionPending" [festival]="festival"></app-music-form>
    <!-- <app-comedy-form *ngIf="fort === 'Comedy'"  (submit)="submit($event)" [submissionPending]="submissionPending" [festival]="festival"></app-comedy-form> -->
    <app-ale-form *ngIf="fort === 'Alefort'"  (submit)="submit($event)" [submissionPending]="submissionPending" [festival]="festival"></app-ale-form>
  </div>

  <div *ngIf="!festivalRequestComplete" style="text-align: center">
    <ion-spinner name="crescent" style="height: 3em; width: 3em;"></ion-spinner>
  </div>


</ion-content>