ion-text {
    font-size: 0.8em;
    margin-left: 20px;
}

// .state-select {
//     margin-top: 25px;
// }

ion-row {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}